* {
  font-family: "Nunito", Arial, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  overscroll-behavior: none;
  touch-action: manipulation;
  -webkit-user-drag: none;
}

img {
  object-fit: cover;
}

.login-screen::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
}
